<div class="row">
  <% organizations.sort_by(&:id).each do |it| %>
      <div class="<%= !it.public? || (['central', 'primaria'].include? it.name) ? 'col-md-12' : 'col-md-6 col-sm-6' %>">
        <div class="mu-organization-card <%= it.public? ? 'public' : 'private' %>">
          <div class="mu-organization-card-header">
            <img src="<%= it.banner_url %>" alt="<%= it.name %>">
          </div>
          <div class="mu-organization-card-body">
            <h4><%= it.name %></h4>
            <p><%= it.description_html %></p>
            <h6><a href="/<%= it.name %>">> <%= t :enter %></a></h6>
          </div>
        </div>
      </div>
  <% end %>
</div>
